
/*******************************************************************************************/
/*
/*		Designed by 'AS Designing'
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: GNU/GPL
/*
/*******************************************************************************************/

.sequence-pagination li:hover, 
.sequence-pagination li.current
{
	background: rgba(0, 128, 128, 0.9) none repeat scroll 0 0;
}

#menu-row
{
	background: rgba(0, 128, 128, 1) none repeat scroll 0 0;
}

.scrolled #menu-row
{
	background: rgba(0, 128, 128, 1) none repeat scroll 0 0;
}

a,
#back-top a,
h1 a:hover, 
h2 a:hover, 
h3 a:hover, 
h4 a:hover, 
h5 a:hover, 
h6 a:hover,
h4,
.pagination ul li a.pagenav, 
.pagination ul li a.hasTooltip,
#content-row-1 h3,
#content-row-4 h3,
#content-row-4 h4,
#content-row-5 .moduletable h4,
#content-row-6 .item_num2 a .item_content,
#content-row-6 .item_num2 .item_content::before,
#content-row-9 h4,
.team .item_container .item_title a:hover,
.testimonials:before,
.social_team li a:hover,
.gallery .filters a:hover, 
.gallery .filters a.active,
.mfp-title h4 a:hover,
.mod-custom__video .module-content .module-content-inner,
.item_info_dl a,
.page-category__faq h4.item_title span.item_title_part0,
.page-category__faq h4.item_title span.item_title_part1,
.page-blog .komento .kmt-comment:before, 
.page-item__blog .komento .kmt-comment:before, 
.blog-fullwidth .komento .kmt-comment:before,
.page-blog .item_createdby, 
.page-item__blog .item_createdby, 
.blog-fullwidth .item_createdby,
.blog .item .item_content .komento:before,
.pricing .moduleTitle,
.mod-custom__address p,
.mod-custom__address span:before
{
	color: #008080;	
}

.mod-menu .nav.menu.nav-pills > li.active > a,
span.blocknumber 
{
    background-color: #008080;
}

.btn-primary, 
.btn-small,
.contentpane .btn,
.btn-primary:focus, 
.btn-small:focus, 
.btn-primary:active, 
.btn-small:active,
.btn-info,
#content-row-6 .item_num0 a:hover .item_content,
#content-row-6 .item_num1 a:hover .item_content,
#content-row-6 .item_num2 a:hover .item_content,
#content-row-6 .item_num3 a:hover .item_content,
#content-row-6 .item_num4 a:hover .item_content,
#content-row-6 .item_num5 a:hover .item_content,
#content-row-6 .item_num6 a:hover .item_content,
#content-row-6 .item_num7 a:hover .item_content,
#content-row-6 .item_num0 .item_content,
.gallery .btn-info,
.page-blog .item_published, 
.page-item__blog .item_published, 
.blog-fullwidth .item_published,
.page-blog .item_createdby:before, 
.page-item__blog .item_createdby:before, 
.blog-fullwidth .item_createdby:before,
.page-blog .item_createdby:after, 
.page-item__blog .item_createdby:after, 
.blog-fullwidth .item_createdby:after,
.page-gallery .btn-group .btn-info.active, 
.page-gallery .btn-group .btn-info:hover,
.pricing .row-fluid .item_container .price,
.pricing .row-fluid .item_container .btn-info:hover,
#footer_wrapper ul.social li a:hover,
ul.social li a:hover,
.toggle,
.toggle.opened:hover
{
	background: #008080;
}

.archive-module li a:hover, 
.categories-module li a:hover, 
.mod-menu .nav.menu li a:hover,
#content-row-2 .moduletable ul li a:hover
{
	background: #008080 !important;
}

.social_team li a:hover,
.radial-progress .circle .fill,
#footer_wrapper ul.social li a:hover,
ul.social li a:hover
{
	border-color: #008080;
}